<!doctype html>
<html>
  <head>
    <title>Attendance List</title>
  </head>

  <body>
    <form method="post">
      <input type="button" value="Start" id="getstart" />
    </form>
    <h2>Entry Record</h2>

    <table border="1">
      <tr>
        <th>roll</th>
        <th>Date</th>
        <th>Class Name</th>
        <th>Attendance</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>

      {% for i in data %}
      <tr>
        <td>{{ i.roll }}</td>
        <td>{{ aajkadate}}</td>
        <td>{{ i.classname }}</td>
        <td>{{ attendance }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
