<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
</head>
<body>
    <form method="post">
         {% csrf_token %}
        Name <input type="text" name="name"><br><br>
        Roll no.  <input type="number" name="roll" ><br><br>
        <input type="date" name="date"><br><br>
        <input type="submit" value="Present" name="attend" > 
        <input type="submit" value="Absent" name="attend" ><br><br>
        
    </form>
</body>
</html>