<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Entry sheet</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %} Enter roll no.
      <input type="number" name="roll" /><br /><br />

      Enter Name
      <input type="text" name="name" /><br /><br />
      Class Name
      <input type="text" name="classname" /><br /><br />

      <input type="submit" value="Submit" />
    </form>
    {% if msg %}
    <script>
      alert("{{ msg }}");
    </script>
    {% endif %}

    <input type="button"  id="btn" value="Show" />
    <div class=""  id="text">
      <table border="1">
        <tr>
          <th>roll</th>
          <th>Attendance</th>
          <th>date</th>
        </tr>

        {% for i in data %}
        <tr>
          <td>{{ i.roll }}</td>
          <td>{{ i.attendance }}</td>
          <td>{{ i.tarikh }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
