<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<script>
 
 const getLocation = () => {
    navigator.geolocation.getCurrentPosition(
      (pos) => {
        const lat = pos.coords.latitude;
        const lng = pos.coords.longitude;

        console.log("Location mil gayi:", lat, lng);
        // alert(`Latitude: ${lat}, Longitude: ${lng}`);
      },
      (error) => {
        alert("Location permission denied");
        console.error(error);
      }
    );
  }
</script>

<div>
  <button onclick="getLocation()">Get Location</button>
</div>

</body>
</html>